In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use("ggplot")

In [ ]:
df = pd.read_csv("titanic.csv") 
df.head()

In [ ]:
df.shape
df.info()
df.isnull() .sum()

In [ ]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [ ]:
df.drop(columns=['Cabin'], inplace=True)

In [ ]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
sns.countplot(x='Survived', data=df)
plt.title("Survival Count")
plt.show()

In [ ]:
sns.countplot(x='Sex', data=df)
plt.title("Gender Distribution")
plt.show()

In [ ]:
sns.histplot(df['Age'], kde=True)
plt.title("Age Distribution")
plt.show()

In [ ]:
sns.countplot(x='Sex', hue='Survived', data=df)
plt.title("Survival by Gender")
plt.show()

In [ ]:
sns.countplot(x='Pclass', hue='Survived', data=df)
plt.title("Survival by Passenger Class")
plt.show()

In [ ]:
sns.boxplot(x='Survived', y='Age', data=df)
plt.title("Age Distribution by Survival")
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(df.corr(numeric_only=True), annot=True, cmap="coolwarm")
plt.title("Correlation Heatmap")
plt.show()

In [ ]:
plt.figure(figsize=(8,5))
sns.boxplot(x='Survived', y='Fare', data=df)
plt.title("Fare vs Survival")
plt.show()

In [ ]:
sns.countplot(x='Embarked', hue='Survived', data=df)
plt.title("Survival by Embarkation Port")
plt.show()

Key Insights from Titanic EDA

1️⃣ Survival Rate
Females ka survival rate males se kaafi high tha.
Pclass 1 ke passengers sabse zyada survive huye.

2️⃣ Age Distribution
Most passengers 20–40 age group ke the.
Bahut saare children bhi present the.

3️⃣ Missing Values
Age column me missing values zyada thi.
Cabin column me sabse zyada missing values the.

4️⃣ Fare Analysis
Higher fare → Higher survival.
Pclass 1 ka fare highest tha.

5️⃣ Embarkation Port
Most passengers Southampton (S) se chadhe.
Cherbourg (C) se chadne wale ka survival rate highest tha.

6️⃣ Correlation
Fare aur Pclass me strong negative correlation
Survived ka strong relation Sex, Pclass aur Fare se tha.